/* The code below makes the background of the header black and the font color of the title white. Change this to match what you want for your website. */
header {
    color: white;
    padding: 128px 16px;
}

.homepagebg {background-image: url('https://wallpaperaccess.com/full/4527419.jpg');}

body{background-color: black;}

.section{background-color: black;}

.headshot {
    align-items: end; 
    width: 55%; 
    border-radius: 100%; 
    
    ;
    
}

img {border: 5px solid white;}

.home {display:flex;}

p {line-height: 200% ;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

a {
color: aqua; 
font: bold; 
font-size: large;
}



h2 {line-height: 200%;}

#aboutjudah{
    align-items: center;

}
